body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrap {
  width: 70%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.btn {
  width: 70px;
  height: 70px;
  background-color: black;
  margin: 10px;
  border-radius: 100%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnText {
  color: white;
  font-size: 24px;
  margin-left: 5px;
}

.btn:hover {
  border-radius: 40px;
  width: 140px;
}

.navBar .btn1:hover,
.navBar .btn2:hover,
.navBar .btn3:hover,
.navBar .btn4:hover {
  background-color: rgb(201, 67, 4);
}

.navBar {
  display: flex;
  justify-content: space-around;
  width: 500px;
  position: fixed;
  bottom: 20px;
  right: 280px;
}

.header {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: 50px auto;
  height: 200px;
  border: 1px solid;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: 100%;
  /* border: 1px solid; */
}

.icon {
  width: 60px;
}

.viewer {
  border: 1px solid;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  overflow: auto;
}

.ticketCard {
  width: 90%;
  height: 100px;
  border: 1px solid;
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

.navBar .btnAll {
  background-color: green;
}

.none {
  display: none;
  visibility: hidden;
}

.formPage {
  width: 400px;
  height: 400px;
  border: 1px solid;
  position: relative;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  border-radius: 30px;
}

.registerPage {
  height: 500px;
}

.inputFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
}

.wideInput {
  width: 500px;
}

.formLabel {
  font-weight: 500;
  width: 300px;
  font-size: 14px;
  /* border: 1px solid; */
  text-align: left;
  margin: 5px auto;
}

.submitBtn {
  width: 320px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
}

.btn-group {
  margin-top: 120px;
}

.btnGroup>input {
  padding: 10px 30px;
  background: none;
  border: 1px solid;
  border-radius: 5px;
  margin: 50px 20px;
}

.userBtn {
  margin: 15px auto;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  align-content: center;
  background-color: white;
}

.backBtn {
  width: 30px;
}

.add {
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 30px;
}

#add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

#addIcon {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  border-radius: 10px;
}

.icon-p {
  padding: 6px 4px;
  border-radius: 10px;
  background-color: seagreen;
}



.addBtn {
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid;
  text-align: center;
  align-content: center;
}

.addIconArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.selectIconBtn {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 30px;
  text-align: center;
  align-content: center;
}


.title-area {
  width: 300px;
  margin: 100px 200px;
  text-align: center;
  align-content: center;
}

#textarea {
  border-radius: 10px;
  padding: 10px;
}

.selectCategory {
  width: 100%;
}

#addCategory {
  width: 100%;
}

.ndFlex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
}

.rdFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}